 .container {
            background-color: rgb(48, 65, 216);
            max-width: 500px;
            min-height: 400px;
            padding: 20px;
            width: 100%;
        }

        .myName {
            color: White
        }

        input {
            border-radius: 10px;
            border: none;
            height: 30px;
        }

        button {
            background-color: rgb(12, 128, 12);
            color: white;
            border: none;
            border-radius: 10px;
            height: 30px;
        }

        .message {
            background-color: white;
            padding: 10px 15px;

            margin: 10px 0;
        }

        .msg-me {
            border-radius: 30px 30px 30px 0;
        }

        .msg-other {
            border-radius: 30px 30px 0 30px;
        }

        #msgInput {
            border-radius: 10px;
            border: none;
            height: 30px;
            margin-bottom: 10px;
            width: 100%;
            max-width: 200px;
        }